<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="full-body-container">
    <div class="title-box">
        <img src="{{ url_for('static', filename='images/TitleCard.png') }}" />
        <div class="input-box">
            <button onclick="performSearch()" style="background: none; border: none; cursor: pointer;">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
            </button>
            <input id="filter-text-val" placeholder="Try: 'floral and fruity perfume'">
        </div>
        <div>
            <input id="brand-filter" placeholder="Type a brand" 
                style="margin: 10px; padding: 8px; border-radius: 5px; border: 1px solid #f5c6d6; font-size: 16px; font-family: 'Georgia', serif; background-color: #fff8fa; color: #000;" />
            <input id="country-filter" placeholder="Type origin country" 
                style="margin: 10px; padding: 8px; border-radius: 5px; border: 1px solid #f5c6d6; font-size: 16px; font-family: 'Georgia', serif; background-color: #fff8fa; color: #000;" />
            <select id="gender-filter">
                <option value="">All Genders</option>
                <option value="Women">Women</option>
                <option value="Men">Men</option>
                <option value="Unisex">Unisex</option>
            </select>
        </div>
    </div>
    <div class="notes-dropdown">
        <button class="dropdown-toggle" onclick="toggleNotesDropdown()">
            New to perfumes? Learn how top, middle, and base notes work!  
            <span id="dropdown-arrow">▼</span>
        </button>
        <div class="dropdown-content" id="notes-dropdown-content">
            <p> Perfumes are composed of different notes that evolve over time. Think of them as a musical composition with different phases:
            </p>
            <p><strong>Top notes</strong> are the first impression of a perfume that last 5-15 minutes. They are typically light and fresh, like citrus or herbs.</p>
            <p><strong>Middle notes</strong> (heart notes) are the core of the fragrance that develop after top notes fade. They last 2-4 hours and are often floral or fruity.</p>
            <p><strong>Base notes</strong> are the foundation of the fragrance and are typically rich, deep scents like vanilla, musk, or amber. They last the longest, typically up to 10 hours!</p>
            <p><strong>Accords</strong> are the unique scent combinations created by blending multiple notes to form a specific impression, like “powdery” or “woody.”</p>
        </div>
    </div>
    <div id="answer-box"></div>
    <div id="no-results-message">
        <h3 style="color: #cc5786;">No results found. Please change your search.</h3>
    </div>
</div>

<script>

    function answerBoxTemplate(p, index) {
    return `
    <div class="perfume-result">
        <div class="perfume-right">
            <div class="gender-tab">${p.gender}</div>
            <h3>${p.display_name}</h3>
            <div class="perfume-meta-row">
                <span><strong class="perfume-meta-label">Country:</strong> ${p.country}</span>
                <span><strong class="perfume-meta-label">Year:</strong> ${p.year}</span>
                <span>
                    <strong class="perfume-meta-label">User Rating:</strong> 
                    ${p.rating_value}
                    <span class="stars">${'★'.repeat(Math.round(p.rating_value))}</span>
                </span>
            </div>
            <span><strong class="perfume-meta-label">Accords:</strong> ${p.accords}</span>
            <div class="perfume-notes-section">
                <div class="note-group">
                    <h4 class="note-label">Top Notes</h4>
                    <div class="note-bubble-row">
                    ${p.top_notes.split(",").map(note => `<span class="note-bubble ${getNoteColorClass(note.trim())}">${note.trim()}</span>`).join("")}
                    </div>
                </div>
                <div class="note-group">
                    <h4 class="note-label">Middle Notes</h4>
                    <div class="note-bubble-row">
                    ${p.middle_notes.split(",").map(note => `<span class="note-bubble ${getNoteColorClass(note.trim())}">${note.trim()}</span>`).join("")}
                    </div>
                </div>
                <div class="note-group">
                    <h4 class="note-label">Base Notes</h4>
                    <div class="note-bubble-row">
                    ${p.base_notes.split(",").map(note => `<span class="note-bubble ${getNoteColorClass(note.trim())}">${note.trim()}</span>`).join("")}
                    </div>
                </div>
            </div>
        </div>
        <div class="similarity-line-bottom">
            <strong>Similarity Score:</strong>
            <span class="similarity-box">${p.similarity_score}%</span>
        </div>
        <div>
            <a href="${p.url}" target="_blank" style="color: #cc5786; text-decoration: underline; font-size: 14px; text-align: center;">More Information</a>
        </div>
    </div>`;
    }


    function sendFocus() {
        document.getElementById('filter-text-val').focus();
    }

    function performSearch() {
        const query = document.getElementById("filter-text-val").value;
        const brand = document.getElementById("brand-filter").value;
        const country = document.getElementById("country-filter").value;
        const gender = document.getElementById("gender-filter").value;

        fetch("/search?" + new URLSearchParams({ query, brand, country, gender }))
            .then((response) => response.json())
            .then((data) => {
                const box = document.getElementById("answer-box");
                const msg = document.getElementById("no-results-message");
                box.innerHTML = "";
                msg.style.display = "none";
                if (data.length === 0) {
                    msg.style.display = "block";
                    return;
                }
                data.forEach((p, i) => {
                    const tempDiv = document.createElement("div");
                    tempDiv.innerHTML = answerBoxTemplate(p, i);
                    box.appendChild(tempDiv);
                });
            });
    }
    document.getElementById("filter-text-val").addEventListener("keydown", function(e) {
        if (e.key === "Enter") {
            performSearch();
        }
    });
    document.getElementById("brand-filter").addEventListener("keydown", function(e) {
        if (e.key === "Enter") performSearch();
    });
    document.getElementById("country-filter").addEventListener("keydown", function(e) {
        if (e.key === "Enter") performSearch();
    });
    document.getElementById("gender-filter").addEventListener("change", performSearch);


    function getNoteColorClass(note) {
        const noteMap = {
        // Citrus
        "citrus": "bubble-citrus", "citruses": "bubble-citrus", "bergamot": "bubble-citrus", "lemon": "bubble-citrus", "grapefruit": "bubble-citrus", "orange": "bubble-citrus", "yuzu": "bubble-citrus",
        "almond milk": "bubble-citrus", "black diamond": "bubble-citrus", "coral amber": "bubble-citrus", "elemi resin": "bubble-citrus", "indian jasmine": "bubble-citrus", "pear leaf": "bubble-citrus", "water": "bubble-citrus",

        // Floral
        "floral": "bubble-floral", "rose": "bubble-floral", "jasmine": "bubble-floral", "lily-of-the-valley": "bubble-floral", "violet": "bubble-floral", "neroli": "bubble-floral",
        "birch tar": "bubble-floral", "cognac": "bubble-floral", "evernyl": "bubble-floral", "green lilac": "bubble-floral", "green mandarin": "bubble-floral", "labdanum": "bubble-floral", "mineral": "bubble-floral", "seriguela": "bubble-floral", "silver pine": "bubble-floral",

        // Fruity
        "blackberry": "bubble-fruity", "apple blossom": "bubble-fruity", "apple": "bubble-fruity", "pear": "bubble-fruity", "pineapple": "bubble-fruity", "strawberry": "bubble-fruity", "raspberry": "bubble-fruity",
        "ambrette (musk mallow)": "bubble-fruity", "australian sandalwood": "bubble-fruity", "chinese cedar": "bubble-fruity", "cotton flower": "bubble-fruity", "guava blossom": "bubble-fruity", "white leather": "bubble-fruity", "fruity": "bubble-fruity",

        // Woody
        "woodsy": "bubble-woody", "woody": "bubble-woody", "cedar": "bubble-woody", "sandalwood": "bubble-woody", "vetiver": "bubble-woody", "oud": "bubble-woody",
        "algerian geranium": "bubble-woody", "ambroxan": "bubble-woody", "daylily": "bubble-woody", "exotic spices": "bubble-woody", "longan berries": "bubble-woody", "mandarin orange": "bubble-woody", "oat": "bubble-woody", "propolis": "bubble-woody", "tamarisk": "bubble-woody", "tyger lily": "bubble-woody",

        // Sweet/Gourmand
        "milkshake": "bubble-sweet", "vanila": "bubble-sweet", "vanilla": "bubble-sweet", "caramel": "bubble-sweet", "tonka bean": "bubble-sweet", "praline": "bubble-sweet",
        "caviar": "bubble-sweet", "elemi": "bubble-sweet", "pea": "bubble-sweet", "red berries": "bubble-sweet", "soursop": "bubble-sweet",

        // Spicy
        "spicy": "bubble-spicy", "cardamom": "bubble-spicy", "pepper": "bubble-spicy", "ginger": "bubble-spicy", "saffron": "bubble-spicy",
        "australian blue cypress": "bubble-spicy", "azalea": "bubble-spicy", "crinum lily": "bubble-spicy", "sweet": "bubble-spicy", "tuscan iris": "bubble-spicy",

        // Aquatic
        "watery": "bubble-aquatic", "sea salt": "bubble-aquatic", "watermelon": "bubble-aquatic", "lotus": "bubble-aquatic",
        "red rose": "bubble-aquatic", "white cardamom": "bubble-aquatic",

        // Musky
        "musky": "bubble-musky", "musk": "bubble-musky", "amber": "bubble-musky", "ambergris": "bubble-musky",
        "algae": "bubble-musky", "bulgarian light tobacco": "bubble-musky", "copoasu": "bubble-musky", "somalian opoponax": "bubble-musky", "turkey red rose": "bubble-musky"
        };
    note = note.toLowerCase();
    return noteMap[note] || "bubble-default";
    }

    function toggleNotesDropdown() {
    const content = document.getElementById("notes-dropdown-content");
    const arrow = document.getElementById("dropdown-arrow");
    const isOpen = content.style.display === "block";

    content.style.display = isOpen ? "none" : "block";
    arrow.classList.toggle("rotated");
    }
</script>
</body>
</html>
